body {
  font-family: 'open sans', Helvetica, Arial;
  font-weight: regular;
  font-size: 15px;
  color: #555;
  background-color: #FFF;
  margin: 0;
}

h1 {
  font-weight: bold;
  font-size: 31px;
  letter-spacing: -1px;
  color: rgba(105, 21, 73, 1); /* #333 */
  line-height: 33px;
  margin: 0 auto;
  text-align: center;
}

h3 {
  font-weight: bold;
  font-size: 12px;
  color: #CCC;
  text-transform: uppercase;
  margin: 10px 0 0 0;
}

hr {
  border-top: 1px solid #ddd;
}

p {
  margin: 8px 0 20px 0;
  line-height: 18px;
}

a, a:visited {
  color: #397DB8;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.wrapper {
  display: block;
  padding: 15px 30px 0 30px;
}

.map {
  background-color: #eee;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 67%;
  *height:100%;
}

.sidepanel {
  background-color: #FFF;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 33%;
  height: 100%;
  overflow: auto;
  box-shadow: 0px 0px 16px rgba(0,0,0,0.6);
}

.context {
  font-family: 'open sans', Helvetica, Arial;
  font-size: 13px;
  color: #999;
  padding: 10px 0 0 0;
}

.subheader {
  border-bottom: 1px solid #ddd;
}

.footer {
  border-top: 1px solid #ddd;
  margin-top: 30px;
}

.titleBlock {
  text-align: right;
}

.search-bar-icon {
  color: white;
  background-color: #691549;
  border: 1px solid #691549;
}

.restaurants-list {
  margin-top: 20px;
}

.restaurants-list .restaurants-list-header {
  color: white;
}

.restaurants-list .restaurants-list-header:hover {
  text-decoration: none;
}

.restaurants-list .restaurants-list-header span.glyphicon.glyphicon-cutlery {
  margin-right: 10px;
}

.restaurants-list-header-right {
  float: right;
}

.restaurants-list-header-left {
  /* float: left; */
}

#filter-options {
  margin: 0 auto;
  margin-top: 10px;
  font-size: 1.1rem;
}

input[name='filter-option'] {
  margin-right: 5px;
}

.panel-default {
  border-color: #691549;
}

.panel-default > .panel-heading {
  color: #333;
  background-color: #691549;
  border-color: #691549;
}

#worst-online-rating {
  margin-left: 5px;
}

#back-button {
  width: 100px;
  background-color: #3B99FC;
  color: white;
  float: left;
}

#back-button span {
  margin-right: 5px;
}

#forward-button {
  width: 100px;
  background-color: #3B99FC;
  color: white;
  float: right;
}

#forward-button span {
  margin-left: 5px;
}

#search-pane {
  margin-bottom: 30px;
}

#back-button-space {
  width: 33%;
  display: inline-block;
  float: left;
}

#current-page {
  width: 32%;
  display: inline-block;
  text-align: center;
}

#forward-button-space {
  width: 33%;
  display: inline-block;
  float: right;
}

.location-item {
  background-color: #CCC;
  border-radius: 3px;
  height: 150px;
  padding: 5px;
  overflow: scroll;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #505050 !important;
}

.location-item h3 {
  color: #505050 !important;
}

.location-item h3 a{
  color: #505050 !important;
}

.location-item h3 a:visited{
  color: #505050 !important;
}

.location-item h5 {
  font-size: 10px;
}

.location-name {
  display: inline-block;
}

.location-restaurant-id {
  display: inline-block;
  clear: both;
  float: right;
}

@media only screen and (max-width: 768px) {
  .map {
    position: absolute; /* inherit */
    height: 400px;
    width: 100%;
    display: block;
  }

  .sidepanel {
    top: 400px;
    position: absolute; /* inherit */
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .map {
    height: 300px;
  }

  .sidepanel {
    top: 300px;
  }
}
